<mat-toolbar color="primary">
  <div class="banner">
    <img src="../../../../assets/images/saludpublica.jpeg" alt="" />
    <span>Gestion Hospitalaria</span>
  </div>
  <div class="auth-options">
    @if(currentUser) {
    <div class="login-user">
      <a>{{ currentUser.email }}</a>
      <button
        mat-icon-button
        aria-hidden="false"
        aria-label="Cerrar sesión"
        type="button"
        matTooltip="Cerrar Sesión"
      >
        <mat-icon>logout</mat-icon>
      </button>
    </div>
    } @else {
    <button
      mat-icon-button
      aria-hidden="false"
      aria-label="Iniciar sesión"
      type="button"
      matTooltip="Iniciar Sesión"
      routerLink="/login"
    >
      <mat-icon>login</mat-icon>
    </button>
    }
  </div>
</mat-toolbar>
