<mat-toolbar color="primary">
  <div class="banner">
    <img src="../../../../assets/images/saludpublica.jpeg" alt="" />
    <span>Gestion Hospitalaria</span>
  </div>
  <div class="auth-options">
    @if(currentUser) {
    <a href="/dashboard">{{ currentUser.email }}</a>
    }
    <button
      mat-icon-button
      aria-hidden="false"
      aria-label="Cerrar sesión"
      type="button"
      (click)="sesionLogout()"
    >
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>
