mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #134b96;
}

mat-toolbar img {
  width: 50px;
  border-radius: 2rem;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20%;
}

.auth-options {
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.auth-options a {
  text-decoration: none;
  height: auto;
  color: #f1f1f1;
}
