mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth-options {
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.auth-options a {
  text-decoration: none;
  height: auto;
}
