<h2 mat-dialog-title>
  {{ isEditMode ? "Editar Expediente Médico" : "Agregar Expediente Médico" }}
</h2>
<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Carnet de Identidad</mat-label>
      <input matInput formControlName="id" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Sexo</mat-label>
      <input matInput formControlName="sexo" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Direccion</mat-label>
      <input matInput formControlName="direccion" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enfermedades</mat-label>
      <input matInput formControlName="enfermedades" />
    </mat-form-field>
    <div class="button-group">
      <button mat-button type="button" (click)="this.dialogRef.close()">
        Volver
      </button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="form.invalid"
      >
        Guardar
      </button>
    </div>
  </form>
</mat-dialog-content>
