<div class="container">
  <mat-toolbar class="mat-elevation-z1">
    <span>Ordenes de Ingreso</span>
    <mat-form-field>
      <mat-label>Buscar</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. ium"
        autocomplete="off"
      />
    </mat-form-field>
  </mat-toolbar>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">
        {{ element.expediente.nombre }}
      </td>
    </ng-container>

    <ng-container matColumnDef="ci">
      <th mat-header-cell *matHeaderCellDef>Carnet de Identidad</th>
      <td mat-cell *matCellDef="let element">{{ element.expediente.ci }}</td>
    </ng-container>

    <ng-container matColumnDef="motivo">
      <th mat-header-cell *matHeaderCellDef>Motivo</th>
      <td mat-cell *matCellDef="let element">{{ element.motivo }}</td>
    </ng-container>

    <ng-container matColumnDef="sintomas">
      <th mat-header-cell *matHeaderCellDef>Sintomas</th>
      <td mat-cell *matCellDef="let element">{{ element.sintomas }}</td>
    </ng-container>
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let element">
        {{ element.fecha | date : "dd/MM/yyyy" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef style="text-align: center">
        Acciones
      </th>
      <td mat-cell *matCellDef="let element" class="actions">
        <button
          mat-icon-button
          matTooltip="Ver"
          aria-hidden="false"
          aria-label="Ver"
          class="search"
        >
          <mat-icon>search</mat-icon>
        </button>
        <button
          mat-icon-button
          matTooltip="Editar"
          aria-hidden="false"
          aria-label="Editar"
          class="edit"
          (click)="editarOrden(element.id)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        @if (isAdmin()) {
        <button
          mat-icon-button
          matTooltip="Eliminar"
          aria-hidden="false"
          aria-label="Eliminar"
          class="delete"
          (click)="eliminarOrden(element.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
        }
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <button
    mat-icon-button
    matTooltip="Agregar Orden de Ingreso"
    class="add-button"
    (click)="openFormDialog({ actionType: 'Agregado' })"
  >
    <mat-icon>add_circle</mat-icon>
  </button>
</div>
