.buttons-container {
  display: flex;
  flex-direction: column;
  height: auto;
  border-right: solid 2px #f1f1f1;
}

.buttons-container > button {
  width: 100%;
  height: 65px;
  font-size: 1.15rem;
  display: grid;
  grid-template-columns: 20% 80%;
}
