<div class="container">
  @if (loading) {
  <mat-spinner class="spinner"></mat-spinner>
  } @else {
  <div class="login">
    <img
      src="./assets/images/login-image.png"
      alt="login-user-image"
      width="50%"
    />
    <form [formGroup]="form" (ngSubmit)="login()">
      <h2>Iniciar Sesión</h2>
      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input matInput type="text" autocomplete="off" formControlName="user" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          class="button-hide"
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <br />
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="form.invalid"
      >
        Login
      </button>
    </form>
  </div>
  }
</div>
