<div class="container">
  <div class="login">
    @if (loading) {
    <mat-spinner class="spinner"></mat-spinner>
    } @else {
    <img
      src="./assets/images/login-image.png"
      alt="login-user-image"
      width="50%"
    />
    <form [formGroup]="form" (ngSubmit)="login()">
      <h2>Iniciar Sesión</h2>
      <mat-form-field>
        <mat-label>User</mat-label>
        <input matInput type="text" autocomplete="off" formControlName="user" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>
      <br />
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="form.invalid"
      >
        Login
      </button>
    </form>
    }
  </div>
</div>
