.container {
  display: flex;
  flex-direction: column;
}
mat-toolbar {
  margin-bottom: 0.75rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
}
mat-form-field {
  width: 40%;
  margin-top: 1.25rem;
}
.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
}
.search {
  color: #1f516f;
}
.edit {
  color: #1878b0;
}
.delete {
  color: #e15639;
}
