/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Cambiar el color de fondo y el color del texto del MatSnackBar */
.mat-snack-bar-container {
  background-color: #673ab7;
  color: aliceblue;
}
