/* You can add global styles to this file, and also import other style files */
:root {
  --primary: #625bfe;
  --primary-hover: #7771f7;
  --text: #383740;
  --text-lighter: #71707d;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Cambiar el color de fondo y el color del texto del MatSnackBar */
.mat-snack-bar-container {
  background-color: #673ab7;
  color: aliceblue;
}
